<!--<h1>Product Create</h1>-->
<!--<hr>-->
<!--<form [formGroup]="rfProduct" (ngSubmit)="onSubmit()">-->

<!--  <pre>Name:          <input type="text" formControlName="name"></pre>-->
<!--  <pre>Price:         <input type="text" formControlName="price"></pre>-->
<!--  <pre>Description:   <input type="text" formControlName="description"></pre>-->
<!--  <pre>Product Type:  <select formControlName="category">-->
<!--    <option *ngFor="let x of categoryList" [ngValue]="x" >{{x.name}}</option>-->
<!--  </select></pre>-->

<!--  <button type="submit">Create</button>-->
<!--</form>-->
