<div class="p-3 px-5">

  <h2 class="text-center fw-bold mt-3">
    DANH SÁCH KHÁCH HÀNG <i class="fa-solid fa-person-circle-question"></i></h2>

  <nav class="navbar navbar-expand-lg py-0 my-0">
    <div class="container-fluid">
      <a routerLink="/create">
        <button class="btn btn-primary btn-outline-secondary">
          <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
          <span class="text-light"> Thêm mới khách hàng</span>
        </button>
      </a>

      <div class="d-flex my-2" role="search">
        <input class="form-control me-2" type="text" placeholder="Nhập tên.." aria-label="Search"
               [(ngModel)]="customerNameSearch">

        <input class="form-control me-2" type="text" placeholder="Nhập địa chỉ.." aria-label="Search"
               [(ngModel)]="customerAddressSearch">

        <input class="form-control me-2" type="text" placeholder="Nhập SĐT.." aria-label="Search"
               [(ngModel)]="customerPhoneSearch">
        <button class="btn btn-light btn-outline-primary" (click)="searchByMore()">
          <i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
  </nav>

  <table class="table table-light table-striped table-bordered" id="customerTable">
    <thead>
    <tr class="table-dark text-light">
      <th class="text-center">STT</th>
      <th class="text-center">Tên khách hàng</th>
      <th class="text-center">Ngày sinh</th>
      <th class="text-center">Giới tính</th>
      <th class="text-center">Số CMND/CCCD</th>
      <th class="text-center">SĐT</th>
      <th class="text-center">Địa chỉ</th>
      <th class="text-center">Email</th>
      <th class="text-center">Loại khách</th>
      <!--      <th class="text-center">Chi tiết</th>-->
            <th class="text-center">Sửa</th>
      <th class="text-center">Xóa</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of customerListPaging; index as i">
      <td class="text-center">{{i + 1 + (curPage - 1) * 5 }}</td>
      <td>{{item.customerName | titlecase}}</td>
      <td class="text-center">{{item.customerBirthday | date: "dd/MM/yyyy"}}</td>
      <td>
        <span *ngIf="item.customerGender == 1">Nam</span>
        <span *ngIf="item.customerGender == 0">Nữ</span>
        <span *ngIf="item.customerGender == 2">LGBT</span>
      </td>
      <td>{{item.customerIdCard}}</td>
      <td>{{item.customerPhone}}</td>
      <td>{{item.customerAddress}}</td>
      <td>{{item.customerEmail}}</td>
      <td>{{item.customerType?.customerTypeName}}</td>

      <td class="text-center">
        <a routerLink="/edit/{{item.id}}">
          <button class="btn btn-success btn-outline-secondary btn-sm">
            <span class="fa-solid fa-user-pen text-light h6 m-auto px-2">edit</span>
          </button>
        </a>
      </td>

      <td>
        <button type="button" (click)="temp = item" data-bs-toggle="modal" data-bs-target="#deleteModal">delete
        </button>
      </td>




    </tr>
    </tbody>
  </table>

  <nav aria-label="..." class="justify-content-center d-flex">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="previos()" *ngIf="curPage > 1">&laquo; Trang trước</a>
      </li>
      <li class="page-item disabled" *ngIf="curPage <= 1">
        <a class="page-link">&laquo;</a>
      </li>

      <li class="page-item"><a class="page-link disabled" href=""
                               [text]="curPage + ' / ' + totalPage" *ngIf="curPage <= totalPage"></a>
      </li>

      <li class="page-item">
        <a class="page-link" (click)="next()" *ngIf="curPage < totalPage">Trang sau &raquo;</a>
      </li>
      <li class="page-item disabled" *ngIf="curPage >= totalPage">
        <a class="page-link">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xoá sản phẩm  <span>{{temp.customerName}}</span>
      </div>
      <div class="modal-footer">
        <form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="deleteCustomer(temp.id)" data-bs-dismiss="modal">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>



