body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    height: 56px;
    background: #0151a5;
    position: fixed;
    top: 0;
    width: 100%;
}

header i {
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    margin: 8px 0;
    background-color: #3a3b3c;
    color: white;
}

header i:hover {
    background-color: rgba(0,0,0, 0.6);
}

.left-header {
    position: relative;
}

.left-header input {
    padding: 11px;
    border-radius: 20px;
    height: 15px;
    display: block;
    position: absolute;
    top: 7px;
    left: 50px;
}

.center-header{
    justify-content: space-evenly;

}

.right-header{
    justify-content: right;
}
.right-header a {
    margin: 0 4px;
}

#content {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    height: 800px;
}
.left-content {
    background-color: #eff1f4;
    display: flex;
    justify-content: center;
}
#content ul {
    list-style: none;
    margin: 15px 0 ;
    padding: 0;
}
#content a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    min-width: 90%;
    color: #3a3b3c;

}
#content a:hover {
    background-color: #222222;
    color: #e3e3e3;
}
.right-content {
    background-color: #eff1f4;
    padding: 15px;
}
.main-content{
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    line-height: 46px;
}

.avatar {
    border-radius: 50%;
}