<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>


<div th:replace="~{/layout::navbar}"></div>
<h3 style="text-align: center">SING</h3>
<p>
    <a th:href="@{/create}">
        Add new sing
    </a>
</p>

<table id="customers">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>artist</th>
        <th>category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sing : ${singList}">
        <td th:text="${sing.id}"></td>
        <td th:text="${sing.name}"></td>
        <td th:text="${sing.artist}"></td>
        <td th:text="${sing.category}"></td>

        <!-- EDIT -->
        <td><a th:href="@{/{id}/edit(id=${sing.id})}">
            <buton class="btn btn-success">EDIT</buton>
        </a></td>

        <td>
            <!-- DELETE -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    th:attr="onclick=|getIdToDelete('${sing.id}','${sing.name}')|">
                DELETE
            </button>
        </td>
        <td>
            <!-- VIEW -->
            <button th:attr="onclick=|infoToDetail('${sing.id}','${sing.name}','${sing.artist}','${sing.category}')|"
                    class="btn btn-warning"
                    type="button" data-bs-toggle="modal" data-bs-target="#detailModal">
                VIEW
            </button>
        </td>
        <!-- Modal Delete-->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <form action="#" th:action="@{/{id}/delete(id=${sing.id})}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title text-danger" id="exampleModalLabel">Blog</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                            <b>ID Blog :</b>
                            <input type="text" readonly name="id" id="idDelete" class="form-control"><br>
                            <b>Name Blog :</b>
                            <input type="text" readonly name="name" id="nameDelete" class="form-control"><br>
                            <h3 class="text-danger">Are you sure want delete </h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="delete">Yes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- Modal view-->
        <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
             aria-hidden="true">
            <div class="modal-dialog">
                <form action="/detail" method="get">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title text-danger" id="exampleModalLabel1">Blog</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                            <b>ID Blog :</b>
                            <input type="text" readonly name="id" id="detailId" class="form-control"><br>
                            <b>Name Blog :</b>
                            <input type="text" readonly name="name" id="detailName" class="form-control"><br>
                            <b>Content Blog :</b>
                            <input type="text" readonly name="content" id="detailArtist" class="form-control"><br>
                            <b>Author Blog :</b>
                            <input type="text" readonly name="note" id="detailCategory" class="form-control"><br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </tr>
    </tbody>
</table>



<script>
    // <%--    thêm value cho thẻ delete--%>
    function getIdToDelete(id, name) {

        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").value = name;
    }
    // <%--    thêm value cho thẻ view--%>
    function infoToDetail(id, name, content, note) {
        document.getElementById("detailId").value = id;
        document.getElementById("detailName").value = name;
        document.getElementById("detailArtist").value = content;
        document.getElementById("detailCategory").value = note;
    }
</script>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>