.bg-green {
    background-color: green !important;
}

.bg-a {
    background-color: #f4623a !important;
}

.bg-red {
    background-color: #ff0000 !important;
}

.text-red {
    color: #ff0000 !important;
}