<div class="p-3 bg-dark text-white sticky-top">
  <div class="container">
    <div class="d-flex flex-wrap align-it ems-center
                    justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2
                        justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 fs-6
                                text-secondary">HOME</a></li>
        <li><a href="#" class="nav-link px-2 text-white">EMPLOYEE</a></li>
        <li><a href="#" class="nav-link px-2 text-white">CUSTOMER</a></li>
        <li><a href="#" class="nav-link px-2 text-white">SERVICE</a></li>
        <li><a href="#" class="nav-link px-2 text-white">CONTRACT</a></li>
      </ul>
    </div>
  </div>
</div>
